td
{
    padding: 3px;
    border: 1px solid black;
}
th {
    text-align: left;  
    padding: 3px; 
    border: 1px solid black;
}
.tab{
    
    order:0;
    }
    .frm{
        
    order:2;
    }
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
        max-width: 960px;
        }

@media only screen and (min-width:780px) and (orientation:landscape){
  
    

.blue {
    background-color: papayawhip;
}
.red {
    background-color: red;
}
.tab {
    border-style: solid;
    border-width: 2px;
    border-collapse: separate;
}

td
{
    padding: 5px;
    border: 1px solid black;
}
th {
    text-align: left;  
    padding: 5px; 
    border: 1px solid black;
}
.footer-bg {
    background:palegreen;
   }
.hdr {
    background: palegreen;

}
.llll {
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
}

.tab{
    width: 100%;
    order:1;
    }
    .frm{
        width: 100%;
    order:0;
    }
}     
